.clipboard-section{
    width: 250px;
    color: #8cd78c!important;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1;
}
.clipboard-section .clipboard-heading{
    border: 1px solid #8cd78c;
    margin: 5px 0 0;
    padding: 10px;
    color: #8cd78c!important;
    background-color: white!important; 
}
.animation{
    width: 0px;
    height: 2px;
    background: #8cd78c;
    animation: example 2s linear reverse;
}


@keyframes example {
    0%   {width:0%; }
    100%  {width:100%;}
  }